export(bootDominanceAnalysis)
export(da.glm.fit)
export(da.lm.fit)
export(da.lmWithCov.fit)
export(da.lmerMod.fit)
export(daRawResults)
export(daSubmodels)
export(dominanceAnalysis)
export(formulas.daSubmodels)
export(summary.bootDominanceAnalysis)
